.pagination-container {
    // position: fixed; /* 또는 sticky */
    // left: 53%;
    display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
    // transform: translateX(-50%); /* 중앙 정렬 */
    margin-top: 20px; 
  }
  