/* Google Fonts 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* 네비게이션 바 전체 */
.sidebar {
    width: 250px;
    height: 100vh;
    background: linear-gradient(to bottom, #4a8cf8, #382a80);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    overflow: hidden;
}
  
/* 축소된 상태 */
.sidebar.collapsed {
    width: 80px;
}

/* 로고 영역 */
.logo {
    color: white;
    padding: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center; /* 왼쪽 정렬 */
}

.logo-image {
    width: 40px; /* 로고의 너비 */
    height: auto;
    margin-right: 10px;
}

.sidebar.collapsed .logo-image {
  width: 50px; /* 축소 시 로고 이미지 크기 조정 */
}

/* 로고 텍스트 스타일 */
.logo-text {
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; /* Poppins 폰트 적용 */
  font-weight: 600; /* 폰트 두께 설정 */
  transition: font-size 0.3s ease;
  margin-right: 20px;
}

/* 메뉴 리스트 */
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 좌우로 아이템 배치 */
    transition: background-color 0.3s ease;
}

/* 아이콘 크기 조정 */
.icon {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar.collapsed .icon {
  font-size: 24px; /* 축소 시 아이콘 크기 증가 */
}

/* 텍스트 왼쪽 정렬 */
.menu li span {
    text-align: left;
    margin-left: 10px;
}

.sidebar.collapsed .menu li span {
    display: none; /* 축소 시 텍스트 숨기기 */
}
  
/* 메뉴 호버 시 색상 */
.menu li:hover {
    background: rgba(104, 12, 12, 0.1);
}
  
/* 토글 버튼 */
.toggle-btn {
    padding: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
  
.toggle-btn:hover {
    background-color: rgba(183, 182, 182, 0.2);
}
  
/* 화살표 스타일 */
.arrow {
    font-size: 20px;
    font-weight: 800;
    transition: transform 0.3s ease;
}
