$sidebar-bg: #0098dd;

/* 네비게이션 바 전체 */
.sidebar {
  width: 250px;
  height: 100%;
  // background: linear-gradient(to bottom, #5b3bd9, #382a80);
  background: linear-gradient(130deg, rgba(59,143,217,1) 0%, rgba(56,42,128,1) 100%);
  // background: $sidebar-bg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;

  .sidebar-border {
    border-color: #ffffff20;
    margin: 0 20px;
  }

  .right-arrow {
    width: 20px;
    height: 20px;
  }
}

/* 축소된 상태 */
.sidebar.collapsed {
  width: 80px;
}

/* 로고 영역 */
.logo {
  color: white;
  padding: 20px;
  font-size: 24px;
  display: flex;
  align-items: center;
  //   justify-content: center; /* 왼쪽 정렬 */
}

.logo-image {
  width: 40px; /* 로고의 너비 */
  height: auto;
  //   margin-right: 10px;
}

.sidebar.collapsed .logo-image {
  width: 50px; /* 축소 시 로고 이미지 크기 조정 */
}

/* 로고 텍스트 스타일 */
.logo-text {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif; /* Poppins 폰트 적용 */
  //   font-weight: 600; /* 폰트 두께 설정 */
  transition: font-size 0.3s ease;
  margin-left: 5px;
}

/* 메뉴 리스트 */
.menu {
  list-style-type: none;
  padding: 0 10px;
  margin: 10px 0 0 0;
}

.menu-item {
  padding: 16px 20px;
  min-width: 64px;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 4px;
  //   justify-content: space-between; /* 좌우로 아이템 배치 */
  transition: background-color 0.3s ease;
}

.menu-text {
  width: 100%;
}

/* 아이콘 크기 조정 */
.icon {
  min-width: 24px;
  font-size: 24px;
  margin-right: 10px;
}

.sidebar.collapsed .icon {
  font-size: 24px; /* 축소 시 아이콘 크기 증가 */
}

/* 텍스트 왼쪽 정렬 */
.menu li span {
  text-align: left;
  margin-left: 10px;
}

.sidebar.collapsed .menu li span {
  display: none; /* 축소 시 텍스트 숨기기 */
}

/* 메뉴 호버 시 색상 */
.menu li:hover {
  background: rgba(104, 12, 12, 0.1);
}

/* 토글 버튼 */
.toggle-btn {
  height: 50px; /* Footer와 동일한 높이로 설정 */
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center; /* 중앙 정렬 */
}

.toggle-btn:hover {
  background-color: rgba(183, 182, 182, 0.2);
}

/* 화살표 스타일 */
.arrow {
  font-size: 20px;
  font-weight: 800;
  transition: transform 0.3s ease;
}
