@import "../../App.scss";

/** ✏️ TABLE CSS  */
.MuiTable-root {

    th,
    td {
        color: #fff;
        border-bottom: 1px solid $main-bg;
        padding: 4px;
    }

    th{
      background: $table-header !important;
      font-weight: 600;
    }

    td{
      background: rgba(255, 255, 255, 0.3) !important;
      font-weight: 400;
    }

    .MuiCheckbox-root{
        color: #fff;
    }

    // switch 동그라미
    .MuiSwitch-root {
        .Mui-checked {
            color: #56b8e9 !important;
        }
        .MuiSwitch-track {
            background-color: #4b7e98 !important;
        }
    }
}

.MuiTableContainer-root{
  height: 100%;
  overflow-x: hidden !important;
}