@import "../../App.scss";

/** ✏️ TABLE CSS  */
.MuiTable-root, .MuiDataGrid-root {
    th,
    td {
        color: #fff;
        border-bottom: 1px solid #ffffff2c;
        padding: 4px;
    }

    th, .custom-header, .MuiDataGrid-columnHeader{
        background: $table-header !important;
        font-weight: 600;
    }

    td, .custom-cell {
        background: $table-body !important;
        font-weight: 400;
        height: 41.5px;
    }

    .MuiTableRow-root:last-child {
        td {
            border-bottom: 0 !important;
        }
    }

    .MuiCheckbox-root {
        color: #fff;
    }

    .MuiDataGrid-footerContainer{
        border: 0!important;
        margin-top: 40px;
    }
}

.MuiDataGrid-columnHeader{
    height: 50px !important;
    border-bottom: 0 !important;
}

.MuiDataGrid-topContainer{
    overflow: hidden;
}
.MuiDataGrid-main{
    width: 100%;
}

.MuiTableContainer-root {
    height: 100%;
    overflow-x: hidden !important;
}

.bottomWrap {
    position: relative;
}

/* 페이지네이션 부분 */
.pagination-container {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .MuiPagination-root {
        color: white;

        .MuiPagination-ul {
            .MuiButtonBase-root {
                color: white;
                border-radius: 50%;

                &.Mui-selected {
                    background-color: #ffffff2e;
                    color: white;
                }

                &:hover {
                    background-color: #ffffff0f;
                }
            }
        }

        .MuiPaginationItem-root {
            color: white;

            &.Mui-selected {
                background-color: #47464f;
                color: white;
            }
        }

        .MuiPaginationItem-ellipsis {
            color: white;
        }
    }
}

//purchase request
.card-wrap {
    height: calc(100vh - 310px);
    overflow-y: auto;
}

//myorderlist
.MyOrderList{
    height: calc(100% - 127.5px);
    overflow-y: auto;
}