@import "../../App.scss";

/** ✏️ TABLE CSS  */
.MuiTable-root {
  th,
  td {
    color: #fff;
    border-bottom: 1px solid #ffffff2c;
    padding: 4px;
  }

  th {
    background: $table-header !important;
    font-weight: 600;
    height: 50px;
  }

  td {
    background: $table-body !important;
    font-weight: 400;
    height: 41.5px;
  }

  .MuiTableRow-root:last-child {
    td {
      border-bottom: 0 !important;
    }
  }

  .MuiCheckbox-root {
    color: #fff;
  }

}

.MuiTableContainer-root {
  height: 100%;
  overflow-x: hidden !important;
}
