.list-table-root {

  .MuiTableRow-root:last-child .MuiTableCell-root {
    border-bottom: 1px solid #47464F;
  }

  .MuiTableCell-root:last-child {
    border-bottom: 1px solid #47464F;
  }
  .MuiTableCell-root {
    border-bottom: 1px solid #47464F;
  }

  .MuiPaper-root{
    background-color: #68666E;
  }
  .bg-custom {
    background-color: #68666E;
    border-radius: 0.5rem; // rounded-lg에 해당하는 클래스
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // shadow-md에 해당하는 클래스
  }

  /* 체크박스 기본 스타일 */
  .MuiCheckbox-root {
    color: #fff;
    border-color: #fff;

    .MuiIconButton-root {
      border-color: #fff;
    }

    &.Mui-checked {
      .MuiIconButton-root {
        border-color: #fff;
      }
    }
  }

  /* 체크박스 체크 아이콘 스타일 */
  .MuiCheckbox-root .MuiSvgIcon-root {
    color: #fff;
  }

  /* 테이블 배경 색상 */
  .MuiTable-root {
    background-color: #68666E;

    .MuiTableRow-root.Mui-selected {
      background-color: #525158;
    }
  }

  /* 테이블 헤더 스타일 */
  .MuiTableHead-root {
    background-color: #47464F;

    .MuiTableCell-head {
      color: #fff;
      font-weight: bold;
    }
  }

  .MuiTableRow-root.Mui-selected:hover {
    background-color: #525158;
  }

  .MuiTableCell-root {
    &:hover {
      background-color: transparent;
    }
  }

  /* 선택 필터 스타일 */
  .select-custom {
    height: 40px;
    min-width: 120px;
    background-color: transparent;

    .MuiSelect-select {
      color: white;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: #9D9B9B !important;
    }

    .MuiSvgIcon-root {
      color: #9D9B9B;
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border-color: #9D9B9B !important;
    }

    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #9D9B9B !important;
    }
  }

  /* 커스텀 텍스트필드 스타일 */
  .custom-textfield {
    height: 40px;
    flex-grow: 1;
    max-width: 300px;
    background-color: transparent;

    .MuiInputBase-input {
      color: white;
      height: 100%;
    }

    .MuiOutlinedInput-root {
      height: 40px;

      & fieldset {
        border-color: #9D9B9B !important;
      }

      &:hover fieldset {
        border-color: #9D9B9B !important;
      }

      &.Mui-focused fieldset {
        border-color: #9D9B9B !important;
      }
    }
  }

  .MuiButton-root.greenbutton {
    background-color: transparent;
    border: 1px solid #3DD19D;
    color: #3DD19D;

    &:hover {
      background-color: #3DD19D;
      color: #fff;
      border: 1px solid transparent;
    }
  }

  .MuiButton-root.bluebutton {
    background-color: transparent;
    border: 1px solid #43C5FE;
    color: #43C5FE;

    &:hover {
      background-color: #43C5FE;
      color: #fff;
      border: 1px solid transparent;
    }
  }

  .MuiButton-root.bluebutton2 {
    background-color: #43C5FE;
    color: #fff;
    border: 1px solid transparent;
    
    &:hover {
      background-color: transparent;
      border: 1px solid #43C5FE;
      color: #43C5FE;
    }
  }

  /* 페이지네이션 부분 */
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    .MuiPagination-root {
      color: white;
      
      .MuiPagination-ul {
        .MuiButtonBase-root {
          color: white;
          border-radius: 50%;
  
          &.Mui-selected {
            background-color: #47464F; 
            color: white; 
          }
  
          &:hover {
            background-color: #5f5e6b; 
          }
        }
      }
  
      .MuiPaginationItem-root {
        color: white;
  
        &.Mui-selected {
          background-color: #47464F; 
          color: white;
        }
      }
  
      .MuiPaginationItem-ellipsis {
        color: white;
      }
    }
  }

  .item-cell {
    color: white;
  }
  
  .price-cell {
    color: white;
    text-align: right;
    padding-right: 3%;
  }

  .custom-toggle {
    .MuiFormControlLabel-label {
      order: -1; // 레이블을 먼저 표시
      color: #ffffff; // 레이블 글자색 흰색
    }
  
    .MuiSwitch-switchBase {
      color: #b0b0b0; // 스위치 기본 색상 (회색)
      &.Mui-checked {
        color: #b0b0b0; // 스위치 체크 상태 색상 (회색)
      }
    }
  
    .MuiSwitch-track {
      background-color: #d0d0d0; // 스위치 트랙 색상 (회색)
    }

    margin-left: 16px;
  }

}