  .BasicDatePicker {
  *,::after,::before {
    border-color :#69686F !important;
  }
  .css-18pjc51-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff !important;
    }
    .css-lxfshk-MuiInputBase-root-MuiOutlinedInput-root {
    color:#fff !important;
    }
    .css-1a7z5rc-MuiButtonBase-root-MuiIconButton-root {
    color:#69686F !important;
    }
    
  }